* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: green;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
}

form {
    display: flex;
    gap: 10px;
}

.barra_pesquisa {
    background: transparent;
    border: 3px solid #E8DDCE;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    width: 500px;
    max-height: 100%;
    height: 40px;
    color: #E8DDCE;
    font-size: 17px;
    box-shadow: 1px 1px 2px #16161685;
    transition: 0.4s;
}

.barra_pesquisa::placeholder {
    color: #E8DDCE;
    font-size: 17px;
}

.padrao_botao{
    border: 3px solid #E8DDCE;
    border-radius: 10px;
    padding: 5px;
    background: transparent;
    color: #E8DDCE;
    cursor: pointer;
    box-shadow: 1px 1px 2px #16161685;
    transition: 0.5s;
}

.padrao_botao:hover, .barra_pesquisa:hover {
    scale: 1.03;
    background: #E8DDCE;
    color: green;
}

body{
    background-color: #E8DDCE;
}
.certaz {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 80%;
    height: 200px;
    border-radius: 10px;
    margin: 40px auto;
    border-bottom: 9px solid #015201;
    padding: 10px;
}

.certaz img {
    position: absolute;
    height: 150px;
    left: 300px;
}

.textos_cartaz {
    position: relative;
    left: 110px;
    top: -20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto_promocional {
    color: #015201;
    -webkit-text-stroke: 1px white;
    font-weight: 1000;
    font-size: 50px;
}

.texto_cupom {
    background: #015201;
    width: 20%;
    height: 22px;
    text-align: center;
    margin: auto 0;
    color: #E8DDCE;
    border-radius: 10px;
}